::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track{
  background: #ececec;
}
::-webkit-scrollbar-track-piece{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: #ececec;
  border-radius: 4px;
}

html, body{
  position: relative;
  overflow: hidden;
  height: 100%;
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
